
.title, .task-title {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.title {
    font-size: 16px;
    font-weight: 400;
}

.title-delete {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
}

.list{
    width: 250px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 15px;
    border: 2px solid #FA9EB3;
    border-radius: 5px;
    background-color: #FFFAE3;
    box-shadow: 0 7px 14px rgba(0,0,0,0.09), 0 5px 5px rgba(0,0,0,0.09);
}

.create-task {
    display: flex;
    justify-content: space-between;
}

.task-title:hover {
    cursor:pointer;
    color: #FA9EB3;
}

.task {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}



.strikethrough {
    text-decoration: line-through
}