.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;  
}

.modal-child {
  position: absolute;
  z-index: 5;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 50vw;
  font-size: 30px;
  font-family:Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 20px; 
  border-radius: 10px;
  overflow: auto;
}

.modal-child-main {
  padding: 50px;
}

.modal-child-main>*{
  margin-bottom: 40px;
}

.modal-title {

}

.modal-body {
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: 300;
  padding: 15px
}

